files:
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      container_commands:
        01_download_ssl_files:
          command: aws s3 cp s3://datalace-ssl/datalace_org_certificate.crt /etc/nginx/ssl/datalace_org_certificate.crt && aws s3 cp s3://datalace-ssl/datalace_org_privkey.key /etc/nginx/ssl/datalace_org_privkey.key && aws s3 cp s3://datalace-ssl/datalace_org_rootca.crt /etc/nginx/ssl/datalace_org_rootca.crt

      ssl_certificate /etc/nginx/ssl/datalace_org_certificate.crt;
      ssl_certificate_key /etc/nginx/ssl/datalace_org_privkey.key;
      ssl_certificate_rootca /etc/nginx/ssl/datalace_org_rootca.crt;

      ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
      ssl_prefer_server_ciphers on;
      ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';

      add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";
container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
